{% extends 'layout.html' %}
{% block title %}Your Trip{% endblock %}

{% block content %}
<h1 class = "text-center">About this app</h1>
<br>
<p class = "lead text-center">
This is a vocabularly trainer app that I am building to help my wife Dani study German. 
More instructions coming soon...
</p>
<br>
<p class> <img src="/images/learnGerman.jpg" class="img-responsive img-rounded text-center" alt="Responsive image">
</p>

<script type="text/javascript">
	console.log("hello about");
</script>

{% endblock %}