body {
  padding: 55px 30px;
  /*min-width: -webkit-min-content;*/ }

/*.centered {
	text-align: center;
	margin: auto;
}
*/


.table#entry-list > tbody > tr.editContent {
	color: #86c5da;
	font-style: italic;
	font-size: 1.3em;
	border: 2px dotted #ccc;
	height: 60px;
	vertical-align: middle !important;	
}

.newEntryLabel {
	float: right;
}
/*.ng-dirty {
    background: #C0D9AF;
}*/

.practice-card {
	width: 60%;
	height: 400px;
	margin: 0 auto;
	margin-top: 40px;
	border: 1px solid black;
	font-family: Helvetica;
	padding: 50px;
	box-shadow: 3px 4px 5px 1px #6b6b6b;
}