<h1>Welcome {{user.firstName}}!</h1>
<!--
list users dictionaries

add links to add more vocab or to start the test
-->

{% if dictionaries.length > 0%}
	<h4>Choose a dictionary to work with:</h4>
<ul>
{% for dict in dictionaries %}
<li>{{dict | dictListLinkFromUser }}</li>
{% endfor %}
</ul>
{% endif %}

<hr>
{% if dictionaries.length > 0%}
  <h5>or add a new dictionary:</h5>
{% else %}
<h4>Add a new dictionary:</h4>
{% endif %}
  <form method="POST" action="/../dictionaries/add">
    
    <div class="form-group">
      <label for="language1" class="col-sm-2 control-label">Language to study: </label>
      <div class="col-sm-10">
        <input name="language1" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="language2" class="col-sm-2 control-label">Language to learn from:</label>
      <div class="col-sm-10">
        <input name="language2" type="text" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="dictName" class="col-sm-2 control-label">Name for the Dictionary</label>
      <div class="col-sm-10">
        <input name="dictName" type="text" class="form-control"/>
      </div>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  </form>
  <hr>
