{% extends '../layout.html' %}
{% block content%}
<h1>Welcome {{user.firstName}}!</h1>
<!--
list users dictionaries

add links to add more vocab or to start the test
-->

{% if dictionaries.length > 0%}
	<h4>Choose a dictionary to work with:</h4>
<ul>
{% for dict in dictionaries %}
<li>{{dict | dictListLinkFromUser }}</li>
{% endfor %}
</ul>
{% endif %}

<hr>
{% if dictionaries.length > 0%}
  <h5>or add a new dictionary:</h5>
{% else %}
<h4>Add a new dictionary:</h4>
{% endif %}
  <form method="POST" action="/../dictionaries/add">
  
    <input type="hidden" name="userId" value="{{user._id.toString()}}" class="form-control">
    <div class="form-group">
      <label for="language1" class="col-sm-3 control-label">Language to study</label>
      <div class="col-sm-6 form-control">
        <select name="language1">
          <option selected value=""></option>
          <option value="English">English</option>
          <option value="French">French</option>
          <option value="German">German</option>
          <option value="Italian">Italian</option>
          <option value="Spanish">Spanish</option>
        </select>
      </div>  
    </div>

        <div class="form-group">
      <label for="language2" class="col-sm-3 control-label">Language to learn from</label>
      <div class="col-sm-6 form-control">
        <select name="language2">
          <option selected value=""></option>
          <option value="English">English</option>
          <option value="French">French</option>
          <option value="German">German</option>
          <option value="Italian">Italian</option>
          <option value="Spanish">Spanish</option>
        </select>
      </div>  
    </div>

    <div class="form-group">
      <label for="name" class="col-sm-5 control-label">Name</label>

        <input name="name" type="text" class="col-sm-6 form-control" placeholder="name of dictionary" />

    </div>

    <div class="form-group col-sm-6 ">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  </form>
  <hr>

{% endblock %}