<tr ng-controller="EntryFormCtrl">
    <form name="entryFrm" ng-submit="createEntry()">
      <input type="hidden" name="user" value="{{activeDictionary.user}}" class="form-control">

      <input type="hidden" name="dictionary" value="{{activeDictionary}}" class="form-control">
      <th>0</th>
      <td><input type="text" class="form-control input-sm" name="phraseL1"  /></td>
      <td><input type="text" class="form-control input-sm" name="phraseL2" /></td>
      <td>
        <select name="category" class="input-sm">
          <option selected value=""></option>
          <option value="adverb">Adverb</option>
          <option value="adjective">Adjective</option>
          <option value="expression">Expression</option>
          <option value="noun">Noun</option>
          <option value="sentence">Sentence</option>
          <option value="verb">Verb</option>
        </select>
      </td>  
      <td><input type="text" class="form-control input-sm" name="mnemonic"/></td>
      <td><input type="text" class="form-control input-sm" name="tags"/></td>
      <td>
        <select name="level" class="input-sm">
          <option value="1">1</option>
          <option value="2">2</option>
          <option selected value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </td>
      <td>
        <button type="submit" class="btn btn-primary btn-sm">submit</button>
      </td>
    </form>
  </tr>