<tr class="entry" ng-form="editEntryForm" ng-dblclick="onDoubleclick()" id="entryForm{{$id}}">
	<th class="entry-index">{{index}}</th>
  	<td class="entry-input entry-phraseL1"><input type="text" ng-model="entry.phraseL1" class="form-control" name="phraseL1" ng-readonly="!isEditable" ng-change="onChange()"/></td>
	<td class="entry-input entry-phraseL2"><input type="text" ng-model="entry.phraseL2" class="form-control" name="phraseL2" ng-readonly="!isEditable" ng-change="onChange()"/></td>
  	<td class="entry-input entry-category"><input type="text" ng-model="entry.category" class="form-control" name="category" ng-readonly="!isEditable" ng-change="onChange()"/></td>
  	<td class="entry-input entry-level"><input type="number" ng-model="entry.level" class="form-control" name="level" ng-readonly="!isEditable" ng-change="onChange()"/></td>
  	<td class="entry-input entry-mnemonic"><input type="text" ng-model="entry.mnemonic" class="form-control" name="mnemonic" ng-readonly="!isEditable" ng-change="onChange()"/></td>
  	<td class="entry-input entry-tags"><input type="text" ng-model="entry.tags" value="entry.tags | tagArray" class="form-control" name="tags" ng-readonly="!isEditable" ng-change="onChange()"/></td>
	<td>
		<button class="btn btn-danger btn-xs" type="button" ng-model="entry" ng-click="remove()" title="delete Entry"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

		<button ng-if="hasChanged" class="btn btn-success btn-xs" type="button" ng-model="entry" ng-click="update()" title="save edit"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>

		<button ng-if="hasChanged" class="btn btn-default btn-xs" type="button" ng-model="entry" ng-click="cancelEdit(editEntryForm)" title="cancel edit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	</td>
</tr>