
<div class="QuizTile" darken-on-hover ui-sref="takeQuiz({quizId: quiz._id})" >
	<div>
		<!-- TODO: insert delete button -->
	<h4 class="Title" ng-class="{InProgress: quiz.currentScore > 0 || quiz.livesRemaining < 10}">{{quiz.name | uppercase}}</h4>
	<div ng-if="(quiz.dateLastTested | date) > (dateUnused | date)">
		<p class="Subtitle" ng-class="{InProgress: quiz.currentScore > 0 || quiz.livesRemaining < 10}">Last tested on {{quiz.dateLastTested | date : 'shortDate'}}</p>
	</div>
	<div ng-if="(quiz.dateLastTested | date) <= (dateUnused | date)">
		<p class="Subtitle" ng-class="{InProgress: quiz.currentScore > 0 || quiz.livesRemaining < 10}">You have not used this quiz</p>
	</div>
		

	</div>

	<hr>
	<h4>Filters:</h4>
	<ul>
		<li ng-if="quiz.filter_levels.length >0">Level: {{quiz.filter_levels| arrayToString}}</li>
		<li ng-if="quiz.filter_tags.length >0">Tags: {{quiz.filter_tags| arrayToString}}</li>
		<li ng-if="quiz.filter_categories.length >0">Categories: {{quiz.filter_categories| arrayToString}}</li>
		<li ng-if="quiz.filter_weekFrom">From: {{quiz.dateFrom | date : 'shortDate'}}</li>
		<li ng-if="quiz.filter_weekTo">To: {{quiz.dateTo | date : 'shortDate'}}</li>
	</ul>
</div>